body {
    background-color: black;
}

h1, h3 {
    color: navajowhite;
    text-align: center;
}

ul {
    background-color: rebeccapurple;
}

ol {
    background-color: aliceblue;
}

li {
    color: palegoldenrod;
}

p {
    color: red;
    background-color: aqua;
}