body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
  }

h1, h3 {
    color: navajowhite;
    text-align: center;
}

ul {
    background-color: rebeccapurple;
}

ol {
    background-color: aliceblue;
}

li {
    color: palegoldenrod;
}

p {
    color: red;
    background-color: aqua;
}