@font-face {
    font-family: Raleway;
    src: url('fonts/raleway/Raleway.woff2') format('woff2');
    font-style: normal;
    font-weight: 300 800;
  }
  @font-face {
    font-family: Raleway;
    src: url('fonts/raleway/Raleway-Italic.woff2') format('woff2');
    font-weight: 300 800;
    font-style: italic;
  }

  .back-button
  { 
        color: navajowhite;
        font: inherit;
        padding: 0.75em 3em;
        background: black;
        border: 0.1em solid navajowhite;
        border-radius: 100vw;
        cursor: pointer;
        transition: background-color 250ms;
        position: relative;
  }
.back-button:hover, .back-button:focus-visible {
    background: rgb(128, 0, 32);
}
  .food-image
  {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid navajowhite;
  }
  body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    font-family: Raleway, "PT Sans", Calibri, Tahoma, sans-serif;
  }
  .description
  {
    color: navajowhite;
    border: 1px solid navajowhite;
    background-color: rgb(128, 0, 32);
    text-align: center;
    margin-left: 199px;
    width: 1000px;
    margin-right: 199px;
    margin-top: 0px;
    margin-bottom: 16px;
  }
  .page
  {
    background: black;

    padding: 8px;
  }
  .title {
      text-align: center;
      color: navajowhite;
      background-color: rgb(128, 0, 32);
      margin: 8px auto;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 32px;
      padding-left: 32px;
      width: 800px;
      border: 1px solid navajowhite;
  }
  .mini-title
  {
    text-align: center;
color: navajowhite;
background-color: rgb(128, 0, 32);
/* margin: 8px auto; */
padding-top: 16px;
padding-bottom: 16px;
padding-right: 32px;
padding-left: 32px;
width: 800px;
border: 1px solid navajowhite;
margin-right: 267px;
margin-top: 8px auto;
margin-left: 267px;
margin-top: 20px;
margin-bottom: auto;
  }
  .ingredients, .steps {
    text-align: center;
    color: navajowhite;
    background-color: rgb(128, 0, 32);
    /* margin: 16px auto; */
    width: 800px;
    list-style-type: none;
    padding: 0;
    border: 1px solid navajowhite;
    margin-left: 299px;
    margin-right: 299px;
    margin-top: 0px;
    margin-bottom: 16px;
  }
  
  .list-item
  {
      padding: 8px 16px;
      border-bottom: 1px solid navajowhite;
      color: navajowhite;
  }
  
  .list-item.last-item
  {
      border-bottom: none;
      color: navajowhite
  }