:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

@font-face {
    font-family: Raleway;
    src: url('fonts/raleway/Raleway.woff2') format('woff2');
    font-style: normal;
    font-weight: 300 800;
  }

  @font-face {
    font-family: Raleway;
    src: url('fonts/raleway/Raleway-Italic.woff2') format('woff2');
    font-weight: 300 800;
    font-style: italic;
  }
*, *::before, *::after {
    box-sizing: border-box;
}
.recipe-button{
    color: navajowhite;
    font: inherit;
    padding: 0.75em 3em;
    background: black;
    border: 0.1em solid navajowhite;
    border-radius: 100vw;
    cursor: pointer;
    transition: background-color 250ms;
    position: relative;
}
.recipe-button:hover, .recipe-button:focus-visible {
    background: rgb(128, 0, 32);
}
/*
button > span
{
    position: absolute;
    z-index: -1;
    width: 33.333%;
    height: 100%;
    background: navajowhite;
}

button > :first-child {
    left: 0;
    top: 0;
}

button > :last-child {
    left: 0;
    top: 0;
} */
body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    font-family: Raleway, "PT Sans", Calibri, Tahoma, sans-serif;
  }
  
  a:hover
  {
    background-color: rgb(128, 0, 32);
  }

.page
{
  background: rgb(128, 0, 32);

  padding: 8px;
}
.title {
    text-align: center;
    color: navajowhite;
    background-color: black;
    margin: 8px auto;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    width: 800px;
    border: 1px solid navajowhite;
}

.list {

    text-align: center;
    color: navajowhite;
    background-color: black;
    margin: 16px auto;
    width: 800px;
    list-style-type: none;
    padding: 0;
    border: 1px solid navajowhite;
}

.list-item
{
    padding: 8px 16px;
    list-style-type: none;
    border-bottom: 1px solid navajowhite;
}

.list-item#last-item
{
    border-bottom: none;
}