@font-face {
    font-family: Raleway;
    src: url('fonts/raleway/Raleway.woff2') format('woff2');
    font-style: normal;
    font-weight: 300 800;
  }

  @font-face {
    font-family: Raleway;
    src: url('fonts/raleway/Raleway-Italic.woff2') format('woff2');
    font-weight: 300 800;
    font-style: italic;
  }

body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    font-family: Raleway, "PT Sans", Calibri, Tahoma, sans-serif;
  }

h1 {
    text-align: center;
    color: navajowhite;
}

ul {
    background-color: rebeccapurple;
}