@font-face {
    font-family: Raleway;
    src: url('fonts/raleway/Raleway.woff2') format('woff2');
    font-style: normal;
    font-weight: 300 800;
  }

  @font-face {
    font-family: Raleway;
    src: url('fonts/raleway/Raleway-Italic.woff2') format('woff2');
    font-weight: 300 800;
    font-style: italic;
  }

body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    font-family: Raleway, "PT Sans", Calibri, Tahoma, sans-serif;
  }
.page
{
  background: rgb(128, 0, 32);
  margin: 8px auto;
  padding: 8px;
}
.title {
    text-align: center;
    color: navajowhite;
    background-color: black;
    margin: 8px auto;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    width: 800px;
    border: 1px solid navajowhite;
}

.list {
    background-color: rebeccapurple;
    text-align: center;
    color: navajowhite;
    background-color: black;
    margin: 16px auto;
    
    width: 800px;
    list-style-type: none;
    padding: 0;
    border: 1px solid navajowhite;
}

.list-item
{
    padding: 8px 16px;
    border-bottom: 1px solid navajowhite;
}

.list-item#last-item
{
    border-bottom: none;
}